* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.899);
  justify-content: center;
  color: #162b40;
}
.box {
  background-color: #cc808c;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 350px;
  padding: 20px;
  margin-top: 12%;
  border-radius: 15px;
}
p {
  font-size: 19px;
  margin: 5px;
}
input {
  padding: 5px;
  font-size: 15px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}
.botao {
  flex-direction: row;
  margin: 14px;
}
.botao button {
  margin: 10px;
  width: 80px;
  height: 35px;
  background-color: #162b40;
  border: none;
  border-radius: 15px;
  color: #a35c6e;
}
.botao button:hover {
  background-color: #1a364e;
}
