/* Importanto a fonte " Roboto Slab " */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
}
/* Corpo */
body {
  margin: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.899);
  justify-content: center;
  color: #162b40;
  font-family: "Roboto Slab", serif;
}
/* Box */
.box {
  background-color: #cc808c;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 350px;
  padding: 35px;
  margin-top: 12%;
  border-radius: 15px;
  border: 7px dashed #162b40;
}
/* Título */
h1 {
  margin: 10px;
}
/* Texto */
p {
  font-size: 19px;
  margin: 5px;
}
/* Input */
input {
  padding: 5px;
  font-size: 15px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}
/* Botão */
.botao {
  flex-direction: row;
  margin: 14px;
}
.botao button {
  margin: 10px;
  width: 80px;
  height: 35px;
  background-color: #162b40;
  border: none;
  border-radius: 15px;
  color: #a35c6e;
  font-size: 15px;
}
.botao button:hover {
  background-color: #1a364e;
}
/* Resultado */
span {
  font-size: 30px;
}
